@import "reset.css";
@import "header.css";
@import "main-page.css";
@import "user-page.css";

* {
    font-family: 'Dosis', 'Tahoma', sans-serif;
}

html body {
    background-color: #f1f1f1;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.first_div {
    height: 100px;
}

.fade-in {
    opacity: 0;
}

#fade-in {
    opacity: 0;
}

footer {
    min-height: 50px;
    background-color: #eaefff;
    padding-bottom: 20px;
    box-shadow: inset 0px 6px 22px rgba(0, 0, 0, 0.25);
}

footer a {
    padding: 10px;
    margin: 36px 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    border: 2px solid #c1c8cf;
    border-radius: 6px;
    color: #c1c8cf;
}

footer a:first-child {
    margin-left: 0;
}

footer a:hover {
    color: #5e6165;
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
}

