@import "reset.css";
@import "header.css";
@import "main-page.css";
@import "user-page.css";

* {
    font-family: 'Encode Sans Condensed', 'Tahoma', sans-serif;
}

html body {
    background-color: #f1f1f1;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.first_div {
    height: 100px;
}

.fade-in {
    opacity: 0;
}

#fade-in {
    opacity: 0;
}

footer {
    min-height: 50px;
    background-color: #eaefff;
    padding-bottom: 20px;
    box-shadow: inset 0px 6px 22px rgba(0, 0, 0, 0.25);
}

footer a {
    padding: 10px;
    margin: 36px 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    border: 2px solid #c1c8cf;
    border-radius: 6px;
    color: #c1c8cf;
}

footer a:first-child {
    margin-left: 0;
}

footer a:hover {
    color: #5e6165;
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
}

/*::-webkit-scrollbar-button {*/
/*background-image:url('');*/
/*background-repeat:no-repeat;*/
/*width:6px;*/
/*height:0px*/
/*}*/

::-webkit-scrollbar-track {
    background-color:#32312e;
    box-shadow:0px 0px 3px #000 inset;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #6a75a8;
    box-shadow:0px 1px 1px #fff inset;
    /*background-image:url('https://yraaa.ru/_pu/24/59610063.png');*/
    /*background-position:center;*/
    /*background-repeat:no-repeat;*/
}

/*::-webkit-resizer{*/
/*background-image:url('');*/
/*background-repeat:no-repeat;*/
/*width:3px;*/
/*height:0px*/
/*}*/

::-webkit-scrollbar{
    width: 5px;
}