@import "header.css";

* {
    font-family: 'Dosis', 'Tahoma', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.first_div {
    height: 100px;
}


/*head*/

.head {
    background-image: url("/images/header-bg.png");
    background-size: cover;
}

.head-wrapper {
    background: linear-gradient(to top, rgba(53, 0, 61, 0.6), rgba(81, 90, 211, 0.6));
}

.head .row {
    height: 75vh;
}

.tagline {
    text-align: center;
    color: #e6edf4;
}

.tagline p {
    margin: 25px 0;
    padding: 0 230px;
}

.head .button {
    display: block;
    color: #e6edf4;
    height: 35px;
    width: 180px;
    background: linear-gradient(to top, rgb(177, 0, 202), rgb(73, 90, 255));
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #3c235a;
    border-radius: 5px;
}



/*advantages*/

.advantages {
    padding-top: 60px;
    padding-bottom: 15px;
}

.advantages .item {
    position: relative;
    padding-left: 36px;
    padding-right: 30px;
    margin-bottom: 50px;
}

.advantages .item img {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
}

.advantages .item p {
    margin-bottom: 0;
}
