#userroom {
    background: url(/images/userroom-bg_2.png) no-repeat;
    background-size: cover;
}

#userroom .wrapper{
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 50px;
}

#userroom h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 12px;
    color: #322e6b;
    margin: 45px 0;
}

.order-menu-item{
    cursor: pointer;
    padding: 40px;
    margin: 10px 0;
    background-color: rgba(207, 205, 234, 0.4);
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    width: 95%;
    height: 100px;
    box-shadow: 3px 6px 25px 0 rgba(27, 24, 57, 0.71);
}

.order-menu-item:first-child{
    margin-top: 0;
}

.order-menu-item:hover{
    background-color: #322e6b;
    color: #f1f1f1;
}

#open-order {
    top: 0px;
    left: -600px;
}

#inc-orders {
    top: 105px;
    left: -600px;
}

#comp-orders {
    top: 220px;
    left: -600px;
}

#userroom .order-area {
    background-color: rgba(207, 205, 234, 0.4);
    border-radius: 12px;
    padding: 30px;
    opacity: 0;
    height: 460px;
    box-shadow: 3px 6px 25px 0 rgba(27, 24, 57, 0.71);
}

.order-res {
    display: none;
    padding: 20px;
    padding-top: 0;
    height: 400px;
}

#inc-orders-div, #comp-orders-div {
    overflow-y: auto;
}

.order-res h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 7px;
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
}

#order-div {
    /*position: absolute;*/
    /*top: 25px;*/
    /*left: 0px;*/
    background-color: #756eff;
    width: 200px;
    height: 100px;
}

.order-item {
    background-color: #fff8ad;
    margin: 2px 0;
    padding: 20px;
    border-radius: 5px;
}

#order_form input {
    height: 30px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 15px;
    width: 100%;
}

#order_form input[type='submit'],
#order_form input[type='reset']
{
    width: 100%;
    height: 67px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 12px;
}

#order_form input[type='reset'] {
    background: none;
}

#order_form input[type='reset']:hover {
    color: #f1f1f1;
}

#order_form input[type='submit'] {
    background-color: #7b72f3;
}

#order_form input[type='submit']:hover
{
    background-color: #322e6b;
    color: #f1f1f1;
}

#order_form label {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
}

#order_form textarea#order-specific {
    height: 100px;
    border: 1px solid;
    border-radius: 8px;
    padding: 20px 15px;
    width: 100%;
    resize: none;
}

#order_form .row {
    margin-bottom: 10px;

}
